# Assignment 5: Python libraries, FP and exceptions

### Authors: Daniela de los Santos & Margherita Philipp

In [37]:
!git clone https://github.com/MargheritaPhilipp/comp4ds_hw5

Clonando en 'comp4ds_hw5'...
remote: Enumerating objects: 293, done.
remote: Counting objects: 100% (159/159), done.
remote: Compressing objects: 100% (121/121), done.
remote: Total 293 (delta 57), reused 60 (delta 14), pack-reused 134
Recibiendo objetos: 100% (293/293), 614.20 KiB | 1003.00 KiB/s, listo.
Resolviendo deltas: 100% (118/118), listo.

In [38]:
!pip install -e comp4ds_hw5

Obtaining file:///home/danidlsa-u/Documentos/aplicacion%20library/comp4ds_hw5
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (1.2.0)
Requirement already satisfied: numpy>=1.20 in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (1.23.4)
Requirement already satisfied: pandas in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (1.5.1)
Requirement already satisfied: python-dateutil in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (2.8.2)
Requirement already satisfied: pytz in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (2022.6)
Requirement already satisfied: scikit-learn in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (1.1.3)
Requirement already satisfied: scipy in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (1.9.3)
Requirement already satisfied: six in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (1.16.0)
Requirement already satisfied: threadpoolctl in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (3.1.0)
Requirement already satisfied: geopy in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from hw5-library==0.1.0) (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/lib/python3.9/site-packages (from geopy->hw5-library==0.1.0) (2.0)
Installing collected packages: hw5-library
  Running setup.py develop for hw5-library
Successfully installed hw5-library-0.1.0
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/home/danidlsa-u/Documentos/hw5/comp4ds_hw5/venv/bin/python3 -m pip install --upgrade pip' command.

In [39]:
from hw5_library.data_functions import data_functions as dfun

# Data Analysis

+ Load data

In [40]:
data = dfun.diabetes_data()
data.head()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
0,0,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,0,14.1,0,0,0,0,0,0,0,1
1,1,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,1,12.7,0,0,0,0,0,0,0,1
2,2,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
3,3,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,1,8.0,0,0,0,0,0,0,0,0
4,4,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,0,NaN,0,0,0,0,0,0,0,0

+ Remove those rows that contain NaN values in the columns: age, gender, ethnicity.

In [41]:
data_copy = data.copy()

vars_to_drop = ['age','gender', 'ethnicity']

data_copy= dfun.drop_selected_nans(vars_to_drop, data_copy)

for i in vars_to_drop:
    print(data_copy[i].isna().sum())

0
0
0

+ Fill NaN with the mean value of the column in the columns: height, weight.

In [42]:
vars_to_replace=['height', 'weight']

data_copy = dfun.fill_nans(vars_to_replace, data_copy)

for i in vars_to_replace:
    print(data_copy[i].isna().sum())

0
0

Generate dummies for ethnicity column (One hot encoding).

In [43]:
data_copy = dfun.one_hot_enc(data_copy, "ethnicity")
data_copy.head()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus,Asian,Caucasian,Hispanic,Native American,Other/Unknown
0,0,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,0,0,0,0,1,0,1,0,0,0
1,1,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,0,0,0,0,1,0,1,0,0,0
2,2,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,0,0,0,0,0,0,1,0,0,0
3,3,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,0,0,0,0,0,0,1,0,0,0
4,4,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,0,0,0,0,0,0,1,0,0,0

Create a binary variable for gender M/F.

In [44]:
data_copy = dfun.create_binary(data_copy, "gender", "male")
data_copy.head()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus,Asian,Caucasian,Hispanic,Native American,Other/Unknown,male
0,0,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,0,0,0,1,0,1,0,0,0,1
1,1,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,0,0,0,1,0,1,0,0,0,0
2,2,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,0,0,0,0,0,1,0,0,0,0
3,3,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,0,0,0,0,0,1,0,0,0,0
4,4,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,0,0,0,0,0,1,0,0,0,1

### Training the model

Split the data between train and test. (you can use train_test_split from sklearn or any other way)

In [45]:
features = ['age','height','weight','aids','cirrhosis', 'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma', 'solid_tumor_with_metastasis']

X, y = dfun.select_features_target(data_copy, features, "diabetes_mellitus")

X_train, X_test, y_train, y_test = dfun.training(X, y)

Train a model (for instance LogisticRegression or RandomForestClassifier from sklearn) in the
train data. Use as features the columns: â€˜ageâ€™, â€˜heightâ€™, â€˜weightâ€™, â€˜aidsâ€™, â€˜cirrhosisâ€™, â€˜hepatic_failureâ€™,
â€˜immunosuppressionâ€™, â€˜leukemiaâ€™, â€˜lymphomaâ€™, â€˜solid_tumor_with_metastasisâ€™. Use as target the
column: â€˜diabetes_mellitusâ€™

In [46]:
X_train_s, X_test_s = dfun.scale_function(X_train, X_test) # scaling

clf = dfun.regressor(X_train_s, y_train, "diabetes_mellitus") # running logistic regression

Predict the targets for both the train and test sets and add the prediction as a new column (use predict_proba from the model to get the predicted probabilities) name the new column something like predictions.

In [47]:
predict_train, predict_test = dfun.predict_from_regression(clf, X_train_s, X_test_s, X_train, X_test)
X_train.head()

,age,height,weight,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,predictions
7090,72.0,177.8,100.4,0,0,0,0,0,0,0,0.231136
7260,81.0,165.1,90.7,0,0,0,0,0,0,0,0.230403
3687,62.0,162.6,76.6,0,0,0,0,0,0,0,0.100566
2875,64.0,185.4,98.6,0,0,0,0,0,0,0,0.388922
7374,67.0,175.3,105.0,0,0,0,0,0,0,0,0.140259

Compute the train and test roc_auc metric using roc_auc_score from sklearn..

In [48]:
print("ROC Score for the train set: " + str(dfun.roc(y_train, X_train_s, clf))) # ROC Score for the train set

print("ROC Score for the test set " + str(dfun.roc(y_test, X_test_s, clf))) # ROC Score for the test set

ROC Score for the train set: 0.6703574025465543
ROC Score for the test set 0.6726604993589983

# Test functions written for assignment
The actual functions are located in the library folders denoted below. We have also kept the entire python file in the "hw5 files" folder - it contains additional versions of a couple of functions.

In [60]:
from hw5_library.hw5_functions.simplefuns import * #contains  car_at_light, safe_subtract and read_data
from hw5_library.hw5_functions.dictionaries import * #contains retrieve_age_eafp2 and retrieve_age_lbyl
from hw5_library.hw5_functions import lists as ls # not importing all functions here, so will be called with lists.

**Question 1)**
Create a function called "car_at_light"
It should take one parameter: "light" which gives the color of a traffic light.
If the color is "red", the function should return "stop". If the color is "green", the function should return "go". If the color is "yellow" the function should return "wait". If the color is anything else, the function should raise an exception with the following message: "Undefined instruction for color: <light>" where <light> is the value of the parameter light.

In [61]:
car_at_light("red")
car_at_light("yellow")
car_at_light("green")
car_at_light("silver")

stop
wait
go
Undefined instruction for color: silver

**Question 2)** Create a function named "safe_subtract" that takes two parameters and returns the result of the second value subtracted from the first. If the values cannot be subtracted due to its type, it returns None. If there is any other reason why it fails show the problem.

In [51]:
print(safe_subtract(5,2))
print(safe_subtract(5,"2"))
print(safe_subtract(5,a))

3
None

NameError: name 'a' is not defined

**Question 3)** Imagine you have a dictionary with the attributes of a person <br>
{'name': 'John', 'last_name': 'Doe', 'birth': 1987} <br>
{'name': 'Janet', 'last_name': 'Bird', 'gender': 'female'}

Create two functions that returns the age of the person that handles both examples.
Name the first function "retrieve_age_eafp" and follow EAFP
Name the second function "retrieve_age_lbyl" and follow lbyl

In [62]:
dic1= {'name': 'John', 'last_name': 'Doe', 'birth': 1987}
dic2= {'name': 'Janet', 'last_name': 'Bird', 'gender': 'female'}
dic3= {'name': 'Janet', 'last_name': 'Bird', 'birth': '1984'}

retrieve_age_lbyl(dic1)    
retrieve_age_lbyl(dic2)
retrieve_age_lbyl(dic3)

35
There is no key called birth in this dictionary
The value under birth is not a float or an integer

In [63]:
retrieve_age_eafp2(dic1)
retrieve_age_eafp2(dic2)
retrieve_age_eafp2(dic3)

35
There is no key called birth in this dictionary
The value under birth is not a float or an integer

**Question 4)** Imagine you have a file named data.csv. <br>
Create a function called "read_data" that reads the file making sure to use to handle the fact that it might not exist.

In [64]:
#NB we had included the sample_diabetes_mellitus_data.csv in our working directory to check if it imports

test1 = "sample_diabetes_mellitus_data.csv"
test2 = "data.csv"

read_data(test1)
read_data(test2)

'The file data.csv is not in the directory you have specified.'

**Question 5)** Squash some bugs! Find the possible logical errors (bugs) in the code blocks below. Comment in each of them which logical errors did you find and correct them.

In [55]:
### (a)
total_double_sum = 0
for elem in [10, 5, 2]:
    double = elem * 2
    total_double_sum += elem

total_double_sum

17

In [56]:
# comments on a:
# returns 17, and indeed only the elements have been summed
# presumably we want to double each element and find total, so 20+10+4=34
# correction:
total_double_sum2 = 0
for elem in [10, 5, 2]:
    double = elem * 2
    total_double_sum2 += double
total_double_sum2

34

In [57]:
### (b)
strings = ''
for string in ['I', 'am', 'Groot']:
    strings = string+"_"+string

strings

'Groot_Groot'

In [58]:
# comments on b:
#returns 'Groot_Groot'
#presumably the desired output is "I am Groot"?
# correction:
strings2 = ''
for string in ['I', 'am', 'Groot']:
    strings2 += string+" "
strings2

'I am Groot '

In [ ]:
### (c) Careful!
# j=10
# while j > 0:
#   j += 1

In [ ]:
# comments on c: not tried to run, but this would keep running as j is always > 0
# correction such that it stops when adding 1:

k=10
while k < 20:
   k += 1        #equivalent:  k = k+1
k

In [ ]:
# correction such that it stops when subtracting 1:

l=10
while l > 0:
   l -= 1        #equivalent:  l = l-1
l

In [ ]:
### (d)
productory = 0
for elem in [1, 5, 25]:
    productory *= elem
    
productory

In [ ]:
# comments on d:
productory
# returns 0 - presumably because it is first multiplying by productory, so 0
# presumably what we want it a product of all numbers in the list: 1*5*25=125
# correction:
productory2 = 1
for elem in [1, 5, 25]:
    productory2 *= elem
productory2

### Try to use map and reduce in the next 3 exercises
**Question 6)** Create a function called "count_simba" that counts the number of times that Simba appears in a list of strings. Example: <br>
["Simba and Nala are lions.", "I laugh in the face of danger.", "Hakuna matata", "Timon, Pumba and Simba are friends, but Simba could eat the other two."]

In [66]:
list_strings= ["Simba and Nala are lions.",
               "I laugh in the face of danger.",
               "Hakuna matata", "Timon, Pumba and Simba are friends, but Simba could eat the other two."] 

ls.simba_test

print(ls.simba_count(list_strings))
ls.simba_count(ls.simba_test)

3

3

**Question7)** Create a function called "get_day_month_year" that takes a list of datetimes.date and returns a pandas dataframe, with 3 columns (day, month, year) in which each of the rows, is an element of the input list and has as value its day, month, and year.

In [71]:
import datetime

example = [datetime.datetime.today() - datetime.timedelta(days=x) for x in range(5)]

ls.test_get_month_data

print(ls.get_day_month_year(example)) 
ls.get_day_month_year(ls.test_get_month_data)

   day  month  year
0   20     11  2022
1   19     11  2022
2   18     11  2022
3   17     11  2022
4   16     11  2022

   day  month  year
0   20     11  2022
1   19     11  2022
2   18     11  2022
3   17     11  2022
4   16     11  2022

**Question 8)** Create a function called "compute_distance" that takes a list of tuple pairs with latitude and longitude coordinates and returns a list with the distance between the two pairs example input: [((41.23,23.5), (41.5, 23.4)), ((52.38, 20.1),(52.3, 17.8))] <br>
HINT: You can use geopy.distance in order to compute the distance

In [73]:
input_example=[((41.23,23.5), (41.5, 23.4)), ((52.38, 20.1),(52.3, 17.8))]

ls.test_compute_distance

print(ls.compute_distance(input_example))
ls.compute_distance(ls.test_compute_distance)

[31.13186522205169, 157.005827868894]

[31.13186522205169, 157.005827868894]

**Question 9)** Consider a list that each element can be an integer or a list that contains integers or more lists with integers example: [[2], 4, 5, [1, [2], [3, 5, [7,8]], 10], 1]. 

Create a recursive function called "sum_general_int_list" that takes as input this type of list and returns the sum of all the integers within the lists for instance for list_1=[[2], 3, [[1,2],5]] the result should be 13.

In [74]:
list_1=[[2], 3, [[1,2],5]]  

ls.test_sum_general_int_list

print(ls.sum_general_int_list(list_1))

13